# Ignore all files by default
**/*

# Allow specific directories
!/src/**/*
!/pages/**/*
!/components/**/*
!/lib/**/*
!/utils/**/*
!/scripts/**/*

# Allow specific file types
!*.js
!*.jsx
!*.ts
!*.tsx

# Ignore specific files and directories
**/node_modules/**
**/.next/**
**/out/**
**/build/**
**/dist/**
**/*.d.ts
**/*.config.js
**/*.config.ts
**/__tests__/**
**/*.test.*
**/*.spec.*
**/*.stories.*
**/coverage/**
**/public/**
**/.vercel/**
**/.vscode/**
**/.idea/**
**/cypress/**
**/*.md
**/*.mdx
**/*.json
**/*.yaml
**/*.yml
**/*.graphql
**/*.gql
**/*.svg
**/*.css
**/*.scss
**/*.sass
**/*.less
**/*.styl
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.webp
**/*.ico
**/*.eot
**/*.ttf
**/*.woff
**/*.woff2
**/*.csv
**/*.xls
**/*.xlsx
